{% extends "../bases/header_base.html" %}

{% block title %}
  Editar Perfil - {{ user.username }}
{% endblock %}

{% block header %}
  <h1 class="logo-letras"> Editar Perfil </h1>
  

{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<div class="container rounded bg-white mt-5 mb-5" style="max-width: 900px; border: 1px solid black;">
  <div class="row">
      <div class="col-md-4 border-right" style="background-color:#1D1F31;">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mb-5" width="150px" src="../../../static/tasks/img/perfil.png"><span class="font-weight-bold"><a href="{% url 'profile' request.user.username %}" class="button">Mi Perfil</a></span><span> </span></div>
      </div>
      <div class="col-md-8 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-center">Configura la información de acuerdo a tus especificaciones.</h4>
              </div>
              <div class="row mt-2">
                <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" name="submit-profile">Guardar Cambios</button>
                </form>
              </div>
              <div class="row mt-3">
                
                <form method="POST">
                  {% csrf_token %}
                  {{ password_form.as_p }}
                  <button type="submit" name="submit-password">Cambiar Contraseña</button>
                </form>
              </div>
              
          </div>
      </div>
      
  </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"></script>
<link rel="stylesheet" href="../../../static/frontend/edit-profile.css">
{% endblock %}

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="submit-profile">Guardar Cambios</button>
</form>

<h2>Cambiar Contraseña</h2>
<form method="POST">
  {% csrf_token %}
  {{ password_form.as_p }}
  <button type="submit" name="submit-password">Cambiar Contraseña</button>
</form>