{% extends "../bases/profile_base.html" %}

{% block title %}
  Mi Perfil - {{ user.user.first_name }}
{% endblock %}
<!-- No se que poner en esta parte o que funcion cumple, creo que es mejor poner directamente la entrada a la edicion del perfil. -->
{% block header %}
  <h1> Mi Perfil </h1>
{% endblock %}

{% block content %}
  <div class="profile-card">
    <div class="image">
        <img src="" alt="" class="profile-img">
    </div>

    <div class="text-data">
        <h1 class="name">{{ user.user.first_name}}</h1>
    </div>

    <div class="buttons">
        
      <a href="{% url 'edit_profile' %}" class="button">Editar Perfil</a>
         
    </div>
  </div>
  <link rel="stylesheet" href="../../../static/frontend/profile_home.css">
{% endblock %}
