{% extends "../bases/profile_base.html" %}

{% block title %}
  Mi Perfil - {{ user.user.username}}
{% endblock %}

{% block header %}
  <h1> Mi Perfil </h1>
{% endblock %}

{% block content %}
  <h1>{{ user.user.username }}</h1>

  <p> Este es mi perfil de organización </p>

  <!-- Opciones de edición -->
  <a href="{% url 'edit_profile' %}">
    <button type="button">Editar Perfil</button>
  </a>

  <!-- Botones de navegación -->
  {% if request.path != '/home/' %}
    <a href="{% url 'home' %}">
        <button type="button">Home</button>
    </a>
  {% endif %}
  
  {% if request.path != '/cursos/' %}
    <a href="{% url 'cursos' %}">
        <button type="button">Cursos</button>
    </a>
  {% endif %}
  
  {% if request.path != '/admin/' %}
    <a href="{% url 'admin:index' %}">
        <button type="button">AdminPage</button>
    </a>
  {% endif %}
{% endblock %}
