{% extends "../bases/header_base.html" %}

{% block title %}
  Perfil - {{ user.title }}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/frontend/profile_fundation.css">
  <!-- Nombre de usuario -->
{% endblock %}

{% block content %}
  <!-- Imagen de la fundación -->
  {% if user.foundation_image %}
    <div>
      <img src="{{ user.foundation_image.url }}" alt="Imagen de la fundación" class="img">
    </div>
  {% endif %}

  <!-- Título y subtítulo -->
  <div class="titles">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <h1 class="user_title">{{ user.title }}</h1>
    <h2 class="user_sub">{{ user.subtitle }}</h2>
  </div>

  <!-- Banner -->
  {% if user.banner %}
  <div class="banner">
    <img src="{{ user.banner.url }}" alt="Banner">
  </div>
 {% endif %}

  <!-- Acerca de la organización -->
  <div class="container">
    <p class="text_user">{{ user.about }}</p>
  </div>

  <!-- Botón de redirección -->
  {% if user.redirect_url %}
  <div class="container_link">
  <div class="link_page">
    <a href="{{ user.redirect_url }}">Visítanos</a>
  </div>
  </div>
  {% endif %}
{% endblock %}

{% block footer %}
<div class="final">
   {{ user.footer }}
</div>
{% endblock %}