<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'tasks/img/coaudial_icon.ico' %}" >
</head>
<body>
    <header>
        <!-- Aquí puedes poner tu barra de navegación, logo, etc. -->
        {% if user.is_authenticated %}
            <p>Bienvenido, {{ user.username }}!</p>
            <a href="{% url 'logout_view' %}">
                <button type="button">Cerrar sesión</button>
            </a>
        {% else %}
            <a href="{% url 'login' %}">
                <button type="button">Iniciar sesión</button>
            </a>
            <a href="{% url 'signup' %}">
                <button type="button">Registro</button>
            </a>
        {% endif %}
    </header>

    <main>
        {% block content %}
        <!-- El contenido específico de cada página irá aquí -->
        {% endblock %}
    </main>

    <footer>
        <!-- Aquí puedes poner tu pie de página -->
    </footer>
</body>
</html>
