{% extends "tasks/bases/header_base.html" %}


{% block title %}
    Principal 
{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/frontend/home.css"> 
    <h1 class="Page_titles">Organizaciones</h1>
{% endblock %}


{% block content %}
<!-- aqui es donde iran los perfiles recomendados-->
<div class="Line"></div>
<div class="container_bar"><div class="Bar_design">
        <svg class="Search_icon" xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewBox="0 0 28 27" fill="none">
        <path d="M13.045 24.1392C6.70893 24.1392 1.55035 19.0773 1.55035 12.8599C1.55035 6.6426 6.70893 1.58069 13.045 1.58069C19.3811 1.58069 24.5396 6.6426 24.5396 12.8599C24.5396 19.0773 19.3811 24.1392 13.045 24.1392ZM13.045 3.23131C7.6285 3.23131 3.2325 7.55594 3.2325 12.8599C3.2325 18.1639 7.6285 22.4886 13.045 22.4886C18.4615 22.4886 22.8575 18.1639 22.8575 12.8599C22.8575 7.55594 18.4615 3.23131 13.045 3.23131Z" fill="white"/>
        <path d="M24.82 25.2396C24.6069 25.2396 24.3938 25.1626 24.2256 24.9975L21.9828 22.7967C21.6576 22.4776 21.6576 21.9494 21.9828 21.6303C22.308 21.3112 22.8463 21.3112 23.1715 21.6303L25.4143 23.8311C25.7396 24.1502 25.7396 24.6784 25.4143 24.9975C25.2461 25.1626 25.0331 25.2396 24.82 25.2396Z" fill="white"/>
      </svg>
      <form action="{% url 'search_user' %}" method="get">
        <input class="search_bar" type="text" name="query" placeholder="Buscar...">
    </form>
</div>
</div>


    {% if organizations %}
        <ul>
            <section class="container_father">
            {% for organization in organizations %}
            
                <a href="{% url 'profile' organization.username %}" class="container">
                    <br>
                    <h2 class="Profile">{{ organization.first_name}}</h2>
                    {% if organization.organizacion.banner%}
                    <br>
                    <img src="{{organization.organizacion.banner.url}}" class="ong_banner">
                    <br>
                    {% endif%}
                </a>
            {% endfor %}
            </section>
        </ul>
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}




{% block footer %}
</footer>
<section class="move_button">
    <a href="#">
        <div class="left_button_border">
            <svg class="left_button" xmlns="http://www.w3.org/2000/svg" width="50" height="56" viewBox="0 0 50 56" fill="none">
            <path d="M16.4898 27.5117H34.043H16.4898Z" fill="#0B1519"/>
            <path d="M16.4898 27.5117H34.043" stroke="#0B1519" stroke-width="1.59574"/>
            <path d="M25.0469 18.9578L16.4921 27.5126L25.0469 36.0674" stroke="#0B1519" stroke-width="1.59574"/>
          </svg>
        </div>
    </a>
    <a href="#">
        <div class="right_button_border">
            <svg class="right_button" xmlns="http://www.w3.org/2000/svg" width="50" height="56" viewBox="0 0 50 56" fill="none">
                <path d="M33.5102 28.4883H15.957H33.5102Z" fill="#0B1519"/>
                <path d="M33.5102 28.4883H15.957" stroke="#0B1519" stroke-width="1.59574"/>
                <path d="M24.9531 37.0422L33.5079 28.4874L24.9531 19.9326" stroke="#0B1519" stroke-width="1.59574"/>
              </svg>
        </div>
    </a>
</section>
{% endblock %}