{% extends "tasks/base_home.html" %}

{% block title %}
  
{% endblock %}


{% block content%}

<h1>IndexPage</h1>
<p> Esta página recibe al cliente. Le ofrece registrarse o iniciar sesión</p>

<a href="{% url 'login' %}">
  <button type="button">Ingresa</button>
</a>

<br>

<a href="{% url 'signup' %}">
  <button type="button">Registro</button>
</a>


{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coaudial</title>
  <link rel="stylesheet" href="../../static/frontend/estilos.css">
</head>
<body>
  <header>
    <nav>
      <a href="#">registro</a>
      <a href="#">ingresar</a>
    </nav>
  </header>

  <div class="encabezado-img">
    <h1>Con tu ayuda sobrellevamos la discapacidad</h1>
    <p>Transformando desafíos en oportunidades, construyendo un 
      mundo más inclusivo para todos.</p>

  </div>
  
</body>
</html>