
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coaudial</title>
    <link rel="stylesheet" href="../../static/frontend/styles.css">
</head>
<body>
    <header>
        <div class="back">
            <div class="menu container">
                
                
                <div class="logo">
                    <img src="../../static/tasks/img/coaudial_icon.png" alt="Logo de Coaudial">
                    <h1>Coaudial</h1>
                </div>
                
                <input type="checkbox" id="menu" />
                <label for="menu">
                    <img src="../../static/tasks/img/menu.png" class="menu-icono" alt="">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="../tasks/login.html">iniciar sesion</a></li>
                        <li><a href="../tasks/signup.html">Registrarse</a></li>
                    </ul>
            
                </nav>
            </div>
        </div>
    </header>
    
    <div class="encabezado-img">
        
        <h1>Con tu ayuda sobrellevamos la discapacidad</h1>
        <p>Transformando desafíos en oportunidades, construyendo un 
          mundo más inclusivo para todos.</p>
      </div>

    
</body>
</html>