{% extends "tasks/bases/header_base.html" %}

{% block title %}
  Coaudial
{% endblock %}

{% block header%}

<img src="../../static/tasks/img/coaudial_icon.ico" alt="Icono de coaudial">
<h1> Coaudial</h1>

{% endblock %}

{% block content%}

<h1>Con tu ayuda sobrellevamos la discapacidad</h1>
<p> Transformando desafios en oportunidades, construyendo un mundo más inclusivo para todos</p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}

{% endblock %}