
{% block header%}
<div class="icon">
    <img src="../../static/tasks/img/coaudial_icon.ico" alt="Icono de coaudial">
    <h1> Coaudial</h1>
 </div>
{% endblock %}

{% block content%}
<div class="container">

    <h1>Ingreso</h1>

    <br>

    <form method="post"> {% csrf_token %}

        <label for="username">Nombre de usuario:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" class="iniciar-boton" value="Iniciar sesión">
        
    </form>
    </a>
    <link rel="stylesheet" href="../../static/frontend/login.css">

</div>

{% endblock %}