{% extends "tasks/base_home.html" %}

{% block title %}
    Coaudial - Ingresa
{% endblock %}


{% block content%}

    <h1>Ingreso</h1>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
        <link rel="stylesheet" href="../../static/frontend/login.css">
    </head>
    <body>
        <div class="formulario">

        </div>
    </body>
    </html>

{% endblock %}