header {
        position: relative;
        padding-bottom: 1%;
        padding-left: 1%;
        background-color:  #E8E6FA;
    

}

.video-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.video-item {
    width: 300px; 
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: white ;
}

.thumbnail {
    width: 100%;
    height: 150px; 
    object-fit: contain; 
}

.video-info {
    padding: 15px;
    position: relative;
}

.video-info h3 {
    margin-bottom: 10px;
}

.video-info p {
    color: #666;
}

.video-info a {
    display: inline-block;
    background-color: #988dae ; 
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid black; 
    transition: color 0.3s, border-color 0.3s; 
}

.video-info a:hover {
  color: white; 
  border-color: white; 
}

body {
    background: linear-gradient(150deg, #e1c9f8, #988dae, #e9c9f8, #c9d4f8, #8d95ae);
    text-decoration: none;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
}

.letras {
    margin: 25px 40px;
    color: white;
    font-size: 30px;
    padding-bottom: 10px; 
    width: 49%; 
    margin-bottom: 10px; 
}
