* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
 }
 
 header {
   background-color:  #E8E6FA;
 }

 body {
    background: linear-gradient(150deg, #e1c9f8, #988dae, #e9c9f8, #c9d4f8, #8d95ae);
    text-decoration: none;
 }
 
 h1 {
    color: #E8E6FA;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 70px
 }

 .uls {
    position: relative;
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
}

.lis {
    width: 100%;
    max-width: 400px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    font-size: x-large;
    list-style: circle;
    border-radius: 30px;
}

 ul li .link {
    text-decoration: none;
    border-color:black;
    color: black;
 }