* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
 }
 
 header {
     position: relative;
     padding-bottom: 1%;
     padding-left: 1%;
     background-color:  #E8E6FA;
 }
 
 h1 {
    color: #fff;
 }

body {
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 20px;
}

form {
    margin: 20px;
}

input {
    margin: 10px 0;
}

