header{
    display: flex;
    height: 70px;
    background-color: #E8E6FA;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
    margin-left: 100px;
}

a{
    text-decoration: none;
    color: black;
    position: relative;
    float: left;
    
}

nav a{
    font-weight: 600;
    padding-right: 50px;
}

nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}
