* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: blue;
    text-align: right;
    padding: 25px 0;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover{
    background-color: black;
    color: #fff;
}

.encabezado-img{
    background-image: url(../tasks/img/fondo.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.encabezado-img p{
    font-size: 20px 20px;
}
.encabezado-img h1{
    font-size: 50px 20px;
}

