* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    padding-bottom: 1%;
    padding-left: 1%;
    background-color:  #E8E6FA;
}

body {
    background: #fff;
    background-repeat: no-repeat;
    height: 100vh;
}

.row .mt-2 a button{
    background: transparent;
    margin: 10px 0;
}

h4 {
    font-size: 2em;
}

.image-icon {
  object-fit: fill;
  border-radius: 50px;
}
 
  