* {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
   
}

header {
    position: relative;
    padding-bottom: 1%;
    padding-left: 1%;
}

.Page_titles {
    color: #FFF;
    font-size: 45px;
}

body {
   background: rgba(107, 110, 168, 0.72);
   text-decoration: none;
}

/*Menus*/

.Line {
    width: auto;
    height: 4px;
    background-color: black;
    position: relative;
    top: 4%;
    margin-left: 1%;
    margin-right: 1%;
}

/*barra de busqueda*/
.container_bar {
    padding-top: 1.5%;
    display: flex;
    justify-content: center ;
    
}


.Bar_design {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(4, 6, 47, 0.68);
    width: 200px;
    border-radius: 31.056px;

}

.search_bar {
    background-color: transparent;
    border: none;
    color: #FFF;
    margin: 1%;
    margin-left: 1%;
}
/* perfiles*/


.container_father {
    width: auto;
    position: relative;
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

.container {
    width: 400px;
height: 357px;
flex-shrink: 0;
border-radius: 16px;
background-color: #fff;
margin: 10px;
text-decoration: none;
}

.ong_banner {
    position: relative;
    width: 90%;
    height: 60%;
    left: 5%;
    border-radius: 10%;
}

.Profile {
    font-size: 20;
    text-decoration: none;
    color: black;
    left: 10%;
    position: relative;

}
/* pie de pagina*/

.move_button {
    display: flex;
    justify-content: center;
    margin: 80px;
}

.left_button_border {
    background-color: #FFF;
    margin-right: 15px;
    border-radius: 50%;
    width: 70px;
    position: relative;
}

.left_button {
    position: absolute;
    background-color: #FFF;
    width: 80px;
    border-radius: 50%;
}
.right_button {
    position: absolute;
    background-color: #FFF;
    width: 80px;
    border-radius: 50%;

}

.right_button_border {
    background-color: #FFF;
    margin-left: 15px;
    border-radius: 50%;
    width: 70px;
    position: relative;
    
}

