* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif
    
}

.logo img{
    height: 60px;
    width: auto;
    margin-right: 50px;
    
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;

}

.back {
    padding: 40px 0px 40px ;
    background-color: #E8E6FA;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.encabezado-img{
    background-image: url(../tasks/img/fondo-01.jpg);
    padding: 250px 300px 400px 50px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}



.encabezado-img p{  
    font-size: 20px 20px;
    color: #2A394F;
    margin-top: 1000;
}
.encabezado-img h1{
    font-size: 50px 20px;
    color: #2A394F;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    margin-top: 10px;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #2A394F;
    display: block;
}

.menu .navbar ul li a:hover {
    color: blue;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media(max-width:991px) {

    .menu{
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 70px 0;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #E8E6FA;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

}