* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(
        90deg,
        rgba(166,93,234,1) 25%,
        rgba(207,103,235,1) 73%);
    
    font-family: Arial, Helvetica, sans-serif
}

.logo img{
    height: 70px;
    width: auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;

}

.back {
    padding: 32px 0;
    background-color: #2A394F;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.encabezado-img{
    background-image: url(../tasks/img/fondo.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.encabezado-img p{
    font-size: 20px 20px;
}
.encabezado-img h1{
    font-size: 50px 20px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: aqua;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media(max-width:991px) {

    .menu{
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 70px 0;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2A394F;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

}