<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'tasks/img/coaudial_icon.ico' %}">
    <link rel="stylesheet" href="/static/frontend/profile_base.css">
</head>
<body>
    <header>
        <!-- Aquí puedes poner tu barra de navegación, logo, etc. -->
        {% block header %}
        <!-- Contenido del encabezado por defecto -->
        {% endblock %}
        <ul class="buttons">
        {% if request.user.is_authenticated %}

            <li><a href="{% url 'logout_view' %}">
               Cerrar sesión
            </a></li>

            {% if request.path != '/cursos/' %}
            <li><a href="{% url 'cursos' %}">
                Cursos
            </a></li>
            {% endif %}


                
        {% else %}

            {% if request.path != '/login/' %}
            <li><a href="{% url 'login' %}">
               Iniciar sesión
            </a></li>
            {% endif %}

            {% if request.path != '/signup/' %}
            <li><a href="{% url 'signup' %}">
                Registro
            </a></li>
            {% endif %}

        {% endif %}
        
        {% if request.path != '/' %}
        <li><a href="{% url 'index' %}">
           Index
        </a></li>
        {% endif %}
        
        {% if request.path != '/home/' %}
        <li><a href="{% url 'home' %}">
            Home
        </a></li>
        {% endif %}
        
        
        {% if request.path != '/admin/' %}
        <li><a href="{% url 'admin:index' %}">
            AdminPage
        </a></li>
        {% endif %}
</header>
    

    <main>
        {% block content %}
        <!-- El contenido específico de cada página irá aquí -->
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <!-- Aquí puedes poner tu pie de página -->
        {% endblock %}
    </footer>
</body>
</html>
