{% extends "tasks/bases/header_base.html" %}

{% block header %}
    <link rel="stylesheet" href="/static/frontend/courses.css">  
    <h1 class="Page_titles">Mis Cursos</h1>
{% endblock %}

{% block content %}
<div class="buttons">
    <form action="{% url 'todos_los_cursos' %}" method="get" class="button">
        Ver todos los Cursos
    </form>

    <form method="post" action="{% url 'crear_curso' %}" class="button">
        {% csrf_token %}
        {{ form.as_p }}
        Crear Curso
    </form>
</div>
{% endblock %}
