{% extends "tasks/bases/header_base.html" %}

{% block header %}
<h2 class="letras">Todos los Cursos</h2>
{% endblock %}

{% block content %}

  <ul class="video-list">
    {% for curso in cursos %}
      <li class="video-item">
        <!-- Imagen del banner del curso como miniatura -->
        <img class="thumbnail" src="{{ curso.banner.url }}" alt="{{ curso.titulo }}">
        <div class="video-info">
          <h3>{{ curso.titulo }}</h3>
          <p>Creado por: {{ curso.user_name }}</p>
          <!-- Enlace para reproducir el curso -->
          <a href="{% url 'reproducir_curso' curso.id %}">Reproducir Curso</a>
        </div>
      </li>
    {% endfor %}
  </ul>



  <link rel="stylesheet" href="../../../static/frontend/all_course.css">
{% endblock %}
